@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #fafafaf1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
 
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  height: 100vh;
  width: 100vw;
}

.image-container {
  position: absolute; 
  left: 0;
  top: 0;
  width: 50%; 
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%; 
  height: auto;
}

.container {
  background-color: #fafafa;
  padding: 6px;
  width: 450px;
  height: 470px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;
  margin-right: 160px; 
}

form {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 300px;
  height: 400px;
 
}

.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 blueviolet;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 25px;
  color: blueviolet;
  transition: color 0.3s ease;
}

.buttonsForm .active {
  color: white;
}

.btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #5956e9, #a963f8);
  border-radius: 30px;
  transition: .3s;
}

input[type="texto"], input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

button[type="botão"] {
  background: #660fc8;
  color: white;
  border-radius: 30px;
  width: 100%; 
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin: 40px 30px 0 40px; 
 
  cursor: pointer;
}

.divCheck {
  margin: 30px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#Entrar {
  left: 25px;
}

#Entrar button {
  margin-top: 80px;
}

#Criar {
  left: 450px;
}

i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 40px;
}

.iSenha {
  top: 114px;
}

.iSenha2 {
  top: 190px;
}

.avisos {
  color: red;
  font-size: 0.8rem;
  margin-top: 15px;
  margin-left: 80px;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 28%;
}

@media screen and (max-width: 768px) {

  .image-container {
    width: 0%;
  }
  .image-container img {
    display: none;
  }

  .container {
    width: 80%;
    margin-right: 40px;
  }

  button[type="botão"] {
    width: 80%;
    margin-left: 10px;
  }

  .avisos {
    left: 0px;
  }


}